& when (@media-common = true) {

  .page-header {
    .header {
      &.content {
        display: flex;

        .logo {
          margin: 0 auto 0 0;
          padding: 15px 0 0 0;
        }

        .navigation {
          background: #ffffff;
        }
      }

      .nav-sections {
        background: transparent;
      }

      .block {
        margin: 0;

        &-search {
          width: 150px;
          display: flex;
          padding: 15px 0 0 0;

          .block-title {

            display: block;

            strong {
              display: none;
            }

            &::before {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 22px;
              line-height: 22px;
              color: #8f8f8f;
              content: '\e615';
              font-family: 'icons-blank-theme';
              margin: 0;
              vertical-align: top;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
            }

            &:hover {
              + .block-content {
                width: 150px;
              }
            }
          }

          .block-content {
            width: 0px;
            overflow: hidden;
            border: none;
            transition: 0.5s;

            &:hover {
              width: 150px;
            }

            input {
              border: none;
              margin-left: 1px;
              border-bottom: #666666 solid 1px;

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }

          .action {
            &.search {
              display: none;
            }
          }
        }
      }

      .minicart-wrapper {
        padding: 15px 0 0 0;
      }

      .wrapper {
        &.panel {
          border-bottom: none;

          .header {
            > .links.header {
              li {
                display: none
              }

              .greet.welcome {
                display: block;
                position: relative;
                padding: 10px 0 0 0;

                a {
                  text-decoration: none;
                  color: #666666;

                  &:hover {
                    text-decoration: none;
                    color: #3b3b3b;
                  }
                }

                ul {
                  position: absolute;
                  background: #ffffff;
                  top: 40px;
                  right: 0;
                  z-index: 999;
                  width: 150px;
                  border: 1px solid #666666;
                  padding: 10px 10px 0 10px;
                  display: none;

                  &.active {
                    display: block;
                  }

                  li {
                    display: block;
                    border-bottom: 1px solid #666666;
                    padding: 10px;

                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

  }

  .page-footer {
    .block {
      &.newsletter {
        max-width: 1280px;
        width: unset;
        display: flex;
        margin: 0 auto;

        .title {
          display: block;
          text-transform: uppercase;
          padding: 5px 0;
          margin-right: 10px;
        }
      }
    }

    .footer.content {
      display: flex;
      justify-content: space-between;

      .block {
        float: none;
        display: inline-block;

        &.newsletter {
          max-width: 1280px;
          display: flex;
          margin: 0 auto;

          .title {
            display: block;
            text-transform: uppercase;
          }
        }
      }
    }

    .copyright {
      display: block;
      max-width: 1280px;
      margin: 10px auto;
      text-align: center;
      color: #6e6e6e;
    }
  }

  .cms-index-index {
    ol {
      &.product-items {
        display: flex;
        justify-content: space-between;

        .product-item {
          position: relative;
          width: 100% !important;

          .product-item-inner {
            position: absolute;
            z-index: 99;
            top: 210px;
            display: none;
          }

          &:hover {
            .product-item-inner {
              display: block;
            }
          }
        }
      }
    }

    .pager {
      display: none;
    }
  }

  .customer-account-login {
    //.page-header{
    //  display: none;
    //}
    .page-footer {
      display: none;
    }

    .login-container {
      width: 800px;
      margin: 100px auto 0;
      border-radius: 20px;
      box-shadow: 0 0 5px #6666;
      padding: 30px;
      position: relative;

      .logo {
        float: none;
        max-width: 50%;
        position: absolute;
        z-index: 5;
        top: 150px;
        left: 110px;
      }

      .block-customer-login {
        float: right !important;
        clear: none !important;

        .block-title {
          font-size: 30px;
          font-weight: 800;
        }

        .actions-toolbar {
          margin: 0;
        }

        .secondary {
          float: none;
          margin-left: 30px;
        }
      }
    }

    .block-new-customer {
      position: absolute;
      top: 250px;
      left: 110px;
      border: none;

      .actions-toolbar {
        a {
          &.action.primary.create {
            color: #1979c3;
            text-decoration: revert;
            background: none;
            border: none;
            font-weight: 500;
          }
        }
      }
    }
  }
  .customer-account-create{
    .page-footer{
      display: none;
    }
  }
  .signup-popup{
    .modal-footer{
      display: none;
    }
    .actions-toolbar{
      padding: 0 0 0 150px;
    }
  }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-header {
    .header {
      &.content {
        display: flex;

        .logo {
          margin: 0 auto 0 0;
          padding: 15px 0 0 0;
        }

        .navigation {
          background: #ffffff;
        }
      }

      .nav-sections {
        background: transparent;
      }

      .block {
        margin: 0;

        &-search {
          width: 150px;
          display: flex;
          padding: 15px 0 0 0;

          .block-title {

            display: block;

            strong {
              display: none;
            }

            &::before {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 22px;
              line-height: 22px;
              color: #8f8f8f;
              content: '\e615';
              font-family: 'icons-blank-theme';
              margin: 0;
              vertical-align: top;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
            }

            &:hover {
              + .block-content {
                width: 150px;
              }
            }
          }

          .block-content {
            width: 0px;
            overflow: hidden;
            border: none;
            transition: 0.5s;

            &:hover {
              width: 150px;
            }

            input {
              border: none;
              margin-left: 1px;
              border-bottom: #666666 solid 1px;

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }

          .action {
            &.search {
              display: none;
            }
          }
        }
      }

      .minicart-wrapper {
        padding: 15px 0 0 0;
      }

      .wrapper {
        &.panel {
          border-bottom: none;

          .header {
            > .links.header {
              li {
                display: none
              }

              .greet.welcome {
                display: block;
                position: relative;
                padding: 10px 0 0 0;

                a {
                  text-decoration: none;
                  color: #666666;

                  &:hover {
                    text-decoration: none;
                    color: #3b3b3b;
                  }
                }

                ul {
                  position: absolute;
                  background: #ffffff;
                  top: 40px;
                  right: 0;
                  z-index: 999;
                  width: 150px;
                  border: 1px solid #666666;
                  padding: 10px 10px 0 10px;
                  display: none;

                  &.active {
                    display: block;
                  }

                  li {
                    display: block;
                    border-bottom: 1px solid #666666;
                    padding: 10px;

                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .page-header {
    .header {
      &.content {
        display: flex;

        .logo {
          margin: 0 auto 0 0;
          padding: 15px 0 0 0;
        }

        .navigation {
          background: #ffffff;
        }
      }

      .nav-sections {
        background: transparent;
      }

      .block {
        margin: 0;

        &-search {
          width: 150px;
          display: flex;
          padding: 15px 0 0 0;

          .block-title {

            display: block;

            strong {
              display: none;
            }

            &::before {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 22px;
              line-height: 22px;
              color: #8f8f8f;
              content: '\e615';
              font-family: 'icons-blank-theme';
              margin: 0;
              vertical-align: top;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
            }

            &:hover {
              + .block-content {
                width: 150px;
              }
            }
          }

          .block-content {
            width: 0px;
            overflow: hidden;
            border: none;
            transition: 0.5s;

            &:hover {
              width: 150px;
            }

            input {
              border: none;
              margin-left: 1px;
              border-bottom: #666666 solid 1px;

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }

          .action {
            &.search {
              display: none;
            }
          }
        }
      }

      .minicart-wrapper {
        padding: 15px 0 0 0;
      }

      .wrapper {
        &.panel {
          border-bottom: none;

          .header {
            > .links.header {
              li {
                display: none
              }

              .greet.welcome {
                display: block;
                position: relative;
                padding: 10px 0 0 0;

                a {
                  text-decoration: none;
                  color: #666666;

                  &:hover {
                    text-decoration: none;
                    color: #3b3b3b;
                  }
                }

                ul {
                  position: absolute;
                  background: #ffffff;
                  top: 40px;
                  right: 0;
                  z-index: 999;
                  width: 150px;
                  border: 1px solid #666666;
                  padding: 10px 10px 0 10px;
                  display: none;

                  &.active {
                    display: block;
                  }

                  li {
                    display: block;
                    border-bottom: 1px solid #666666;
                    padding: 10px;

                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

  }
}
